* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

body {
  background-color: moccasin;
  font-family: sans-serif;
}
nav {
  height: 50px;
  text-decoration: none;
  background-color: darkseagreen;
  text-transform: uppercase;
  font-style: italic;
  font-family: sans-serif;
  color: lightcyan;

  padding: 10px 0;
  text-align: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
nav :hover {
  color: moccasin;
}
h1 {
  text-transform: uppercase;
  font-style: italic;
  color: lightseagreen;
}
h2 {
  text-transform: uppercase;
  font-style: italic;
  color: darkseagreen;
}
button {
  background-color: darkcyan;
  color: lightcyan;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
}
button:hover {
  background-color: lightseagreen;
}

a {
  text-decoration: none;
  color: lightcyan;
}

table {
  font-size: 20px;
  text-transform: uppercase;
  font-style: italic;
}

input {
  margin: 0 auto;
  border: none;
  padding: 8px 16px;
  border-radius: 10px;
}
