<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <nav>
      <a href="/views/index.html">Sallys Shellies</a>
      <a href="/views/shop.html">Shop</a>
      <a href="#">About</a>
    </nav>
    <h1 id="compName">
      Welcome to sandys shellies – Custom Creations & Digital Essentials!
    </h1>
    <p>
      Explore our collection of unique merchandise for ,beach lovers,
      businesses, and everyday life. Whether you're looking for seashell
      earings, coral necklaces, or jellyfish hair clips, we have something for
      you!
    </p>
    <h2>Need an Invoice? We’ve Got You Covered!</h2>
    <p>
      For business customers and professionals, our store offers automatic
      invoice generation for every purchase. Simply add your items to the cart,
      check out, and download your PDF invoice instantly. Perfect for expense
      tracking, tax deductions, and corporate purchases!
    </p>
    <button class="btn" onclick="shopPage()">
      <a href="/views/shop.html">Browse, Buy & Download Instantly</a>
    </button>
  </body>
</html>
